@page "/"

@inherits IndexBase

<WizardControl Steps="@this.RegistrationState.Steps" CurrentStep="@this.RegistrationState.CurrentRegistrationStep">
    <WizardElements>
        <WizardElement Step="0" CurrentStep="@this.RegistrationState.CurrentRegistrationStep">
            <EditForm Model="@this.Parameters" OnValidSubmit="@this.Something">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>
                    <MatTextField @bind-Value="@this.Parameters.UserName" Label="username" Icon="person" IconTrailing="true" FullWidth="true" Required="true" />
                </div>
                <div>
                    <MatButton Disabled="@this.RegistrationState.PreviousButtonDisabled" Raised="true" OnClick="this.OnGoToPreviousStep">Previous</MatButton>
                </div>
                <div>
                    <MatButton Disabled="@this.RegistrationState.NextButtonDisabled" Type="submit" Raised="true" OnClick="this.OnGoToNextStep">Next</MatButton>
                </div>
            </EditForm>
        </WizardElement>
        <WizardElement Step="1" CurrentStep="@this.RegistrationState.CurrentRegistrationStep">
            <EditForm Model="@this.Parameters" OnValidSubmit="@this.SomethingElse">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>
                    <MatTextField @bind-Value="@this.Parameters.UserName" Label="username" Icon="person" IconTrailing="true" FullWidth="true" Required="true" />
                </div>
                <div>
                    <MatTextField @bind-Value="@this.Parameters.Name" Label="name" Icon="verified_user" IconTrailing="true" FullWidth="true" Required="true" />
                </div>
                <div>
                    <MatTextField @bind-Value="@this.Parameters.Email" Label="email" Icon="email" IconTrailing="true" FullWidth="true" Required="true" />
                </div>
                <div>
                    <MatButton Disabled="@this.RegistrationState.PreviousButtonDisabled" Raised="true" OnClick="this.OnGoToPreviousStep">Previous</MatButton>
                </div>
                <div>
                    <MatButton Disabled="@this.RegistrationState.NextButtonDisabled" Type="submit" Raised="true" OnClick="this.OnGoToNextStep">Next</MatButton>
                </div>
            </EditForm>
        </WizardElement>
    </WizardElements>
</WizardControl>